/** 
 * =============================================================================
 * PUBLISH Meta box 
 * =============================================================================
 */
#jkl-pc-notice .dashicons {
    color: #82878c; 
    padding-right: 5px;
}
#jkl-primary-cat {
    font-weight: 600;
    color: #444;
}
/* jQuery will decide which buttons to show at what time */
#jkl-edit-primary-category,
#jkl-set-primary-category {
    display: none;
}
#jkl-pc-help {
    text-decoration: none;
}
.jkl-pc-help-button:before {
    margin: 1px 0;
    background: 0 0;
    color: #b4b9be;
    content: "\f223";
    display: inline;
    font: 400 16px/20px dashicons;
    speak: none;
    height: 20px;
    text-align: center;
    vertical-align: bottom;
    width: 20px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#jkl-pc-help:focus .jkl-pc-help-button:before,
#jkl-pc-help:active .jkl-pc-help-button:before,
#jkl-pc-help:hover .jkl-pc-help-button:before {
    color: #c00;
}
.jkl-pc-help-button-text {
    text-decoration: underline;
    margin: 0 -2px 0 2px;
}

/** 
 * =============================================================================
 * CATEGORIES Meta box
 * =============================================================================
 */
.jkl-category-checked,
.jkl-primary-category {
    position: relative;
}
.jkl-category-label {
    position: absolute;
    right: 0;
}
.jkl-primary-category-button {
    padding-right: 0;
    padding-left: 0;
    background: transparent;
    border-color: transparent;
    font-weight: 600;
    color: #444;
}
.jkl-make-primary-cat {
    padding-right: 0;
    padding-left: 0;
    background: transparent;
    border-color: transparent;
    text-decoration: underline;
    /*color: blue;*/
}
.jkl-primary-category-button:focus,
.jkl-primary-category-button:active,
.jkl-make-primary-cat:focus,
.jkl-make-primary-cat:active {
    outline: transparent;
}

/**
 * =============================================================================
 * Admin Pointers
 * =============================================================================
 */
.wp-pointer-buttons a.close {
    padding-left: 10px;
}
.wp-pointer-buttons a.close:before {
    display: none !important;
}

/**
 * =============================================================================
 * WELCOME Page
 * =============================================================================
 */
.tenup-style {
    background: url( '../images/10up-logo.png' ) center 20px no-repeat #000 !important;
    height: 50px;
    padding-top: 120px;
}
.about-wrap .feature-section > h4 {
    max-width: 35.5em;
    margin-left: auto;
    margin-right: auto;
}