#jkl-pc-notice .dashicons {
    color: #82878c; 
    padding-right: 5px;
}
#jkl-primary-cat {
    padding-right: 5px;
    font-weight: bold;
}
.jkl-category-label {
    float: right;
}
.jkl-make-primary-cat {
    padding: 0;
    text-decoration: underline;
    color: blue;
}